@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Germania+One&display=swap');

:root {
    --bottom-of-page-out-bg-color: #3f474f;
}

body {
    background-color: var(--bottom-of-page-out-bg-color);
}

.App {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Aladin', cursive;
  text-align: center;
  color: darkred;
}

.navbar-brand {
    overflow: hidden;
}

.nav-link, .footer-title, .footer-links {
  font-family: 'Aladin', cursive;
  text-align: center;
  color: darkred;
}

/* Icon Colors */
i, .react-icons {
  color: darkred;
}

/* links */
.link-color {
    color: rgb(200, 0, 0);
    text-decoration: none;
}

.link-color:hover {
    color: darkred;
    text-decoration: none;
}

.footer-title {
  font-size: 1.25rem;
}


.navbar .navbar-toggler {
  color: darkred !important;
}

.site-footer {
  background-image: linear-gradient(#212529, var(--bottom-of-page-out-bg-color));
  padding: 20px 0;
  margin-top: 5rem;
}


.footer-links {
  color: goldenrod;
}

.card-title {
  font-family: Aladin;
}

.featuredImage {
  border: solid 1px white;
  margin-bottom: 1rem;
  border-radius: 15px;
}

video {
  border: solid 1px white;
}

iframe {
  border-radius: 15px;
  border: 5px solid red;
}

/* Products Titles */
.firstCard {
  background-color: rgb(128, 17, 0);
  color: white;
}

.secondCard {
  background-color: #d73502;
  color: white;
}

.thirdCard {
  background-color: #fac000;
  color: white;
}

.fourthCard {
  background-color: #ff7500;
  color: white;
}

/* Scroll down hides header, up shows header */
#site-header {
    position: fixed;
    background: #fff;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: all .3s ease;
    box-shadow: 0 1px 25px rgba(0,0,0, .1);
}

#site-header.hide {
    top: clamp(-200px, -50%, -250px);
}