@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Germania+One&display=swap');

.App {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Aladin', cursive;
  text-align: center;
  color: darkred;
}

.nav-link, .footer-title, .footer-links {
  font-family: 'Aladin', cursive;
  text-align: center;
  color: darkred;
}

/* Icon Colors */
i {
  color: darkred;
}

.footer-title {
  font-size: 1.25rem;
}

.navbar .navbar-toggler {
  color: darkred !important;
}

.site-footer {
  background-image: linear-gradient(black, slategrey);
  padding: 20px 0;
  margin-top: 5rem;
}


.footer-links {
  color: goldenrod;
}

.featuredImage {
  border: solid 1px white;
  margin-bottom: 1rem;
}

/* Products Titles */
.firstCard {
  background-color: rgb(128, 17, 0);
  color: white;
}

.secondCard {
  background-color: #d73502;
  color: white;
}

.thirdCard {
  background-color: #fac000;
  color: white;
}

.fourthCard {
  background-color: #ff7500;
  color: white;
}
