@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Germania+One&display=swap');

.App {
  text-align: center;
}

h1,
h2,
h3,
.card-body > .card-title {
  font-family: 'Aladin', cursive;
  text-align: center;
}
